body {
  background: rgb(1, 110, 74);
}

* {
  border: 1px solid rgb(245, 241, 241);
}

/* Html Classes---Container-a-b-c */

.container{
  display:flex;
  flex-direction:column;
  justify-content:space-between;
  min-height:100vh;
}

.a{
width:100%;
height:30vh;
flex-grow:1;
}

.b{
  height:80vh;
  flex-grow:3;
}

.c{
  flex-grow:1;
  min-height:30vh;
}

/* media for when its over 600px */
@media (min-width: 600px) {
  .container {
    flex-direction: row;
    flex-wrap: wrap;
  }

  .a{
    width:100%
  }

  .a,.b,.c{
    margin:1em;
  }

}



